<h1>News Reader</h1>

<p>It reads news so you don't have to</p>

<ul>
  <% feeds.each(function(feed){ %>
    <li>
      <a href="#feeds/<%=feed.get('id')%>"><%= feed.escape("title")%></a>
    </li>
  <% }); %>
</ul>